
/* managerMain.css */
#container { width: 300px; margin: 50px auto;}
span { color: navy; font-weight: 600;}
p { text-align: center;}
button { width: 100%; height: 35px; border: none; background: rgba(100,100,200,0.9); color: white;}
button:hover { background: rgba(100,100,200,0.3); color: navy; font-weight: 600; cursor: pointer;}
table { width: 100%; border: 1px solid gray; border-collapse: collapse;}
th, td { border: 1px solid gray; border-collapse: collapse; font-weight: 400; text-align: center;}
tr { height: 40px;}
td { border: hidden; background: rgba(200, 200, 200, 0.2);}
.tr_title { border-top: 3px solid navy; border-bottom: 3px solid navy; 
border-left: hidden; border-right: hidden; background: rgba(100,200,200,0.3); color: navy;}
a { text-decoration: none; color: navy;}